.global-message{
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 5px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.global-message button {
  float: right
}

.close-msg-btn {
  background: none;
  border: none;
  font-weight: bold;
  padding: 0;
}
